<%= render "shared/navbar" %>
<h2>Qui est ton date ?</h2>
<div data-controller="live-search">
  <%= form_tag "/users", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find your date"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<% if @users.nil? %>
  <%= "Find your date" %>
<% else %>
  <div data-target="live-search.results">
    <% @users.each do |user| %>
      <%= render partial: "users/index", locals: { user: user } %>
    <% end %>
  </div>
<% end %>
<div>
  <p>Ton date n'est pas encore inscrit ?</p>
  <p>Vois directement nos suggestions pour toi ;)</p>
  <%= link_to "GO", dating_suggestions_path %>
</div>
<%= render "shared/footer" %>
