<div class="footer">
  <div class="cards-footer">
    <div class="logo-footer">
      <%= image_tag "logolarge.png" %>
    </div>
    <div class="footer-description">
      <p>Spots a été fait pour toi, pour vous, pour nous. <br> Pour ne plus galérer à trouver un bar sympa pour un premier date,
      notre algorithme te trouve les 5 meilleurs lieux en fonction de tes préférences.</p>
    </div>
    <div class="links">
      <h5>Derrière Spoots</h5>
        <div class="d-flex flex-column">
          <%= link_to "La petite histoire de l'app", storytime_path %>
          <%= link_to "A propos de nous", aboutus_path %>
          <%= link_to "Contact", new_contact_path %>
        </div>
    </div>
    <div class="social-medias">
      <div class="row">
        <h5 class="mx-2">On se retrouve ailleurs ?</h5>
        <div class="d-flex">
          <%= link_to comingsoon_path do %>
            <i class="fa-brands fa-instagram-square mx-2"></i>
          <% end %>
          <%= link_to comingsoon_path do %>
            <i class="fa-brands fa-facebook-square  mx-2"></i>
          <% end %>
          <%= link_to comingsoon_path do %>
            <i class="fa-brands fa-twitter-square  mx-2"></i>
          <% end %>
        </div>
      </div>
      <div class="row my-3">
        <h5 class="mx-2">Autres</h5>
        <p class="mx-2">Mentions légales</p>
      </div>
    </div>
  </div>
</div>
