<div class="form">
  <div class="contact-intro">
      <div class="my-4">
        <h1>Une idée, une reco ou juste nous envoyer un mot doux ?</h1>
      </div>
      <div class="my-4">
        <h3>C'est ici ! </h3>
      </div>
      <div class="my-4">
        <h5>On s'engage à te répondre dans les prochains jours (entre 2 dates tu comprends).</h5>
      </div>
  </div>
  <div class="contact-form">
    <%= simple_form_for @contact do |f| %>
      <div class="form-grid row justify-content-evenly">
        <div class="input-small">
          <%= f.input :name, label: "Ton prénom", placeholder: "Marie, Myriam, Lucas,...", class: 'input-small' %>
        </div>
        <div class="input-small">
          <%= f.input :email, label: "Ton mail pour qu'on puisse te répondre", placeholder: "lola@gmail.com", class: 'col input-small' %>
        </div>
      </div>
      <div class="email-message">
        <%= f.input :message, placeholder: "Dis-nous tout", class:"email-message" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Envoyé!", class:"send-email" %>
      </div>
    <% end %>
  </div>
</div>

<%# https://medium.com/@Gabriel.Valle/rails-and-mail-form-f4bc4f991c83 %>
