<div class="container form">
  <%= simple_form_for @contact do |f| %>
    <div class="form-grid row justify-content-evenly">
      <div class="input-small">
        <%= f.input :name, label: "Ton prénom", placeholder: "Marie, Myriam, Lucas,...", class: 'input-small' %>
      </div>
      <div class="input-small">
        <%= f.input :email, label: "Ton mail pour qu'on puisse te répondre", placeholder: "lola@gmail.com", class: 'col input-small' %>
      </div>
    </div>
    <div class="email-message">
      <%= f.input :message, placeholder: "Dis-nous tout", class:"email-message" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, "Envoyé!", class:"send-email" %>
    </div>
  <% end %>
</div>
