<div class="container">
  <div class="date-title">
    <h1>Comment tu l'imagines, ton date ?</h1>
  </div>
  <div class="new-form-dating">
    <%= simple_form_for(@dating) do |f| %>
      <div class="d-flex justify-content-center flex-column">
        <%= f.input :preference, as: :select, collection: Dating::PREFERENCES, label:"Tu es plus dans un mood..." %>
        <%= f.input :price_range, as: :select, collection: Dating::PRICE_RANGES, label:"Ton porte-monnaie est dans quel mood ?" %>
        <%= f.input :arrondissement, as: :select, collection: Dating::ARRONDISSEMENTS, label:"Ton arrondissement de prédiléction ?" %>
      </div>
      <div class="d-flex justify-content-end">
        <%= f.button :submit, "Suivant 👉", class:"send-email"  %>
      </div>
    <% end %>
  </div>
</div>
