<div class="container">
  <div class="date-title">
    <h1>Comment tu l'imagines, ton date ?</h1>
  </div>
  <div class="new-form-dating" data-controller="input">
    <%= simple_form_for(@dating) do |f| %>
      <div class="d-flex justify-content-center flex-column">
        <p>Tu es plus dans un mood...* (Une réponse uniquement)</p>
        <%= f.input :preference, collection: Dating::PREFERENCES, as: :radio_buttons %>
         <p>Ton porte-monnaie est dans quel mood ?* (Une réponse uniquement)</p>
        <%= f.input :price_range, collection: Dating::PRICE_RANGES, as: :radio_buttons %>
        <p>Ton arrondissement de prédiléction ?*</p>
        <%= f.input :arrondissement, as: :select, collection: Dating::ARRONDISSEMENTS %>
      </div>
      <div class="d-flex justify-content-end">
        <%= f.button :submit, "Suivant 👉", class:"send-email"  %>
      </div>
    <% end %>
  </div>
</div>
